html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    color: #f0f6fc;
}

.main_blue {
    background-color: #5571f5;
}

.home_container {
    height: 100vh;
    border: solid 1px #ffffff;
    border-bottom: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-block{
    max-width: 50%;
}

.details-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bsc-margin {
    margin-top: 100px;
    margin-bottom: 100px;
}

.dark_background {
    background-color: #161b22;
}