@model Post

@{
    ViewData["Title"] = "Create Post";
}

<form asp-action="Create" class="mt-5 d-flex justify-content-center flex-column text-light">

<div class="input-group mb-3 mt-5">
  <input asp-for="Title" type="text" class="form-control" placeholder="Title">
</div>

<div class="input-group mb-3">
  <input asp-for="GithubLink" type="text" class="form-control" placeholder="Github Link" >
  <span class="input-group-text"><i class="bi bi-github"></i></span>
</div>

<div class="input-group">
  <textarea asp-for="SummaryDescription" placeholder="Summary Description" class="form-control"></textarea>
</div>

<label asp-for="PhotoLink" for="photo-url" class="form-label">Photo link</label>
<div class="input-group">
  <span class="input-group-text"><i class="bi bi-link"></i></span>
  <input asp-for="PhotoLink" type="text" class="form-control">
</div>

<label asp-for="VideoLink" for="video-url" class="form-label">Video link</label>
<div class="input-group mb-4">
  <span class="input-group-text"><i class="bi bi-link"></i></span>
  <input asp-for="VideoLink" type="text" class="form-control">
</div>

<div class="input-group mt-3">
  <span class="input-group-text">Description</span>
  <textarea asp-for="Description" class="form-control"></textarea>
</div>

<input type="submit" value="Create" class="btn btn-outline-success mt-3">Create</input>
</form>