@{
    ViewData["Title"] = "Projects";
}

<div class='text-center text-light'>
    <h1>@ViewData["Title"]</h1>
    <h2>Here i will show my projects posts</h2>
    <form asp-action="Create">
    <input type="submit" value="Create" class="btn btn-outline-success float-right" />
    </form>
</div>  