@model List<Post>

@{
    ViewData["Title"] = "Projects";
}

<div class='container-fluid text-light bsc-margin' style="margin-top: 70px;">
    <div class="container-fluid d-flex justify-content-evenly flex-wrap">
            @if(Model.Count == 0)
            {
                <div>
                    <h1>For now there is no posts :(</h1>
                </div>
            }
            @if(Model.Count > 0)
            {
               @foreach(var post in Model)
               {
                <div class="card border-bottom bg-dark text-light m-4" style="width: 22rem;">
                    <img src="@post.PhotoLink" class="card-img-top" alt="Project_Photo" >
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.SummaryDescription</p>
                        <a asp-action="Details" asp-route-id="@post._id" class="btn btn-primary">Details</a>
                    </div>
                </div>           
               }
            }
    </div>
</div>